@import "./theme.css"; /*color variariables for dynamic theme*/
@import "./micon.css"; /*Xiaomi icons font*/
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f7f7f7;
}

/* NAVBAR CSS START
-----------------------
*/

#top-site-header {
  box-shadow: 0 6px 16px 0 #1919190f;
  top: 0;
  z-index: 999;
}

/* MI - HOME LOGO */
#nav-logo {
  box-sizing: initial;
  flex-shrink: 0;
  position: relative;
  z-index: 999;
}

#nav-logo-link,
#nav-logo .logo-xiaomi {
  display: block;
  height: 100%;
  width: 100%;
}

#nav-logo .logo-mi-home {
  transform: translateX(-112px);
  transition: transform 0.3s;
}

#nav-logo:hover .logo-mi-home {
  transform: translateX(0px);
}

/* Nav links*/

ul .only-medium, ul .only-medium a {
height: 100%;
}

#nav-link .link-border {
  border-bottom: 3px solid #00000000;
  border-top: 3px solid #0000;
  box-sizing: border-box;
  transition: border 0.2s ease-in-out;
  padding: 0 8px;
}

#nav-link .link-border:hover {
  border-bottom: 3px solid #ff6900;
  border-top: 3px solid #0000;
  box-sizing: border-box;
  transition: border 0.2s ease-in-out;
}

.shortcut__item--wrapper {
  line-height: 1;
  position: relative;
}

.shortcut__icon {
  font-size: 18px;
}

.only-medium {
  display: none;
}

.only-phone {
  display: flex;
}

/*MD*/

@media (min-width: 768px) {
  .only-medium {
    display: flex;
  }

  .only-phone {
    display: none;
  }
}

/*LG*/

@media (min-width: 1025px) {
  .navigation__logo {
    height: 28px;
    padding: 0 16px;
    width: 28px;
  }

  .shortcut__icon {
    font-size: 20px;
  }
}

/*XL*/

@media (min-width: 1440px) {
  .shortcut__icon {
    font-size: 28px;
  }
}

/* NAVBAR CSS END
-----------------------
*/

/* FOOTER CSS START
-----------------------
*/

#list ul li {
  color: #898989;
  font-size: 16px;
  margin-bottom: 16px;
}

#list a {
  text-decoration: none;
  color: #898989;
}

#list a:hover {
  text-decoration: underline;
  color: #fff;
}

#list ul h3 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

/* FOOTER CSS END */

/* HOME CSS START */

.site-banner__price {
  font-weight: 700;
  line-height: 1.25;
  font-size: 16px;
}
.mi-price {
  word-break: keep-all;
}

@media (min-width: 1024px) {
  .site-banner__price {
    font-size: 36px;
    margin-top: 3.125vw;
  }
}
.site-banner__price strong {
  font-weight: 700;
}

.mi-price strong {
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
}

/* HOME CSS END */

/* CART CSS START */



#cart-quantity-buttons {
 border: 1px solid black;
}

/* CART CSS END */

/* ABOUT CSS START */
.background-text-images {
  background-image: url("../src/assets/about/service-background-text.svg");
}

.background-text-images2 {
  background-image: url("../src/assets/about/service-background-text.svg");
  width: 100%;
  height: auto;
}
/* ABOUT CSS END */

/* ACCOUNT CSS START */

/*Account header*/

#account-top-nav {
  flex: 1;
  text-align: right;
}
#account-top-nav ul {
  display: inline-block;
}
#account-top-nav ul li {
  display: inline-block;
  margin-right: 20px;
}

/*-------media-query-for-max-width-800---------*/

@media only screen and (max-width: 800px) {
  #about-top-nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    max-height: 0;
    transition: max-height 0.5s;
  }

  #about-top-nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

/*-------Form--------*/

#account-form button {
  font-size: 18px;
  font-weight: 400;
  height: 60px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #fff;
}

select {
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus {
  outline: none;
}

#list ul li {
  padding-bottom: 10px;
}

#account-form-navigation {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 27px;
  text-align: left;
}

#account-form-navigation li {
  padding: 0;
  height: max-content;
}

#account-forms input:not([type="checkbox"]){
  border: 1px solid rgb(213, 213, 213);
  background: var(--color-input-background);
  color: #999;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px 15px;
  border-color: var(--color-input-background);
}

#google-button,
.accountinput {
  box-shadow: 0 0 5px 0px rgb(199, 199, 199);
}

.mi-layout__card {
  text-align: left;
  border-radius: 4px;
  box-shadow: 0 20px 50px 0 hsla(0, 0%, 64%, 0.1);
  margin: 0 auto 80px;
  padding: 40px 45px;
  box-sizing: border-box;
  display: inline-block;
  min-width: 450px;
  overflow: hidden;
  position: relative;
}

.qr-switch-wrap {
  outline: 1px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.mi-qr-account-switch {
  background-size: cover;
  border: 32px solid #ff5c00;
  border-bottom-color: transparent;
  border-left-color: transparent;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.mi-qr-account-switch {
  height: 64px;
  opacity: 0.4;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 64px;
  z-index: 1000;
}

.qr-account-switch:hover {
  height: 64px;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 64px;
  z-index: 1000;
}

.qr-account-icon {
  font-size: 36px;
  position: absolute;
  top: -22px;
  right: -22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: -0.125em;
}
.qr-account-icon svg {
  fill: var(--color-form-background);
}

.checkbox-custom {
  transform: scale(1.5);
}

/* ACCOUNT CSS END */




